<nav class="navbar navbar-light  d-flex justify-content-around p-3" style="color: aliceblue;background: #000;">
  <a routerLinkActive="active"  routerLink="/" class="nav-item nav-link" >Home</a>
  <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/addStudent" class="nav-item nav-link active">Register</a>
  <!-- <a routerLinkActive="active"  routerLink="/details/1" class="nav-item nav-link" >Details</a> -->
  <a routerLinkActive="active"  routerLink="/error" class="nav-item nav-link" >Error</a>
</nav>
